/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*rules*/
body{
	font: 16px/28px arial, sans-serif;
	background-color: darkgray;
	background-image: url(../img/pattern.png);
	
}

.container{
    width: 800ox;
	margin:auto 300px;
	background-color: white;
	
}

 .header{
	background: #3E5151;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
	 position: flex;
	 padding: 20px;
 }
 .header .logonih{
	 width: 50px;
	 height: 50px;
 }

 .header .judul{
	 display: inline;
	 font-family: 'Zhi Mang Xing', cursive;
	 font-size: 40px;
	 font-weight: bold;
 }
 .header ul li {
	 margin-top: 20px ;
	 margin-right:10px;
	 display: inline-block;
 }

 .header a{
	 text-decoration: none;
	 color: tomato;
	 padding: 4px;
 }

 .header a:hover{
	 background-color: yellowgreen;
	 color:slateblue;

 }

 .keren{
	 
	 height: 280px;
	 background-color: slateblue;
	 background-image:url(../img/cover.png);
	 background-size: cover;;
	 background-position: 0 0;
	 border-top:5px solid #E91E63;
	 border-bottom: 5px solid #fcf800;
	 
 }

 .main .section p{
	 font-family: Georgia, 'Times New Roman', Times, serif;
	 margin-bottom: 20px;
	 font-size: 14px;
 }

 .footer{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}